# MongoDB Atlas connection string (Free M0 Cluster)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/demo_pwa?retryWrites=true&w=majority

# Web Push VAPID Keys
VAPID_PUBLIC_KEY=BEChpdzKSrGNmkmD_3fq3BYK-KwtNNJCXmn_W-qAphRB54RExFLJFHjo-dW5mSTprEM8Nnr3YVI3awwbTUSKKSc
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BEChpdzKSrGNmkmD_3fq3BYK-KwtNNJCXmn_W-qAphRB54RExFLJFHjo-dW5mSTprEM8Nnr3YVI3awwbTUSKKSc
VAPID_PRIVATE_KEY=FDCf-5_Zt6BhMVQMnk6Kf19fyp0brmbPl8jeiyIjzis

# Subscriber contact email for Push Service (Apple/Google)
VAPID_SUBSCRIBER=mailto:admin@example.com
